<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
 #form{

 padding:50px;
 }
 

  </style>
</head>
<body id="bo1">
<div>
<div class="container">
             
  <table id="final" class="table table-bordered">
  
  </table>
</div>
<div>

<form class="txt" id="form">
 <div><label id="comments"for="w3review">Comments:</label></div> 
  <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
  <br>
<button id=fbs type=button onclick="save()">Submit</button>
<button id=fbc type=button onclick="window.history.go(-1);">Close</button>
  
</form>


</div>
</div>

<script src="JS/common.js"    type="text/javascript"></script>
<script src="JS/finalscreen.js" type="text/javascript"></script>
<script src="JS/tablescreen.js" type="text/javascript"></script>
</body>
</html>
