<!DOCTYPE html>
<html>
<head>
<title>Two Forms Example</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/doctorview.js"></script>
<script type="text/javascript" src="js/table.js"></script>

<style>
form {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}

h2 {
	margin-top: 30px;
	margin-bottom: 10px;
}

.btn {
	margin-right: 10px;
}
</style>
</head>
<body>
	<div class="container">

		<div class="row">

			<div class="col-md-6">
				<div>
					<h4>Patient Details</h4>
					<div class="form-group">
						<label for="name">Name:</label> <input type="text"
							class="form-control" id="name" disabled>
					</div>
					<div class="form-group">
						<label for="age">Age:</label> <input type="number"
							class="form-control" id="age" disabled>
					</div>
					<div class="form-group">
						<label>Gender:</label><br>
						<div class="form-check-inline">
							<label class="form-check-label"> <input type="radio"
								class="form-check-input" id="g1" name="gender" value="male"
								disabled>Male
							</label>
						</div>
						<div class="form-check-inline">
							<label class="form-check-label"> <input type="radio"
								class="form-check-input" id="g2" name="gender" value="female"
								disabled>Female
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="phone">Phone:</label> <input type="tel"
							class="form-control" id="phone" disabled>
					</div>
					<div class="form-group">
						<label for="address">Address:</label>
						<textarea class="form-control" id="address" disabled></textarea>
					</div>
					<div class="form-group">
						<label for="enquiry">Enquiry:</label> <input type="text"
							class="form-control" id="enquiry" disabled>
					</div>
					<div class="form-group">
						<label for="appointment_date">Appointment Date:</label> <input
							type="date" class="form-control" id="appointment_date" disabled>
					</div>
					<div class="form-group">
						<label for="appointment_time">Appointment Time:</label> <input
							type="time" class="form-control" id="appointment_time" disabled>
					</div>


				</div>
			</div>

		</div>

	<div>
	
	   <button  class="btn btn-primary" type=button id=accept onclick="approve();" >Accept</button>
					<button class="btn btn-primary" type=button onclick="cancel();">Decline</button>
	</div>
        
	</div>
	